@model ErrandUpdateDto
@{
    Layout = "_Staff";
}

@await Component.InvokeAsync("Errand", "avdelningschef")

<section id="bottomColumn">
    <h3>Redigera ärende</h3>
    <form method="post" asp-controller="Manager" asp-action="UpdateCrime">
        <!-- onsynliga fältet nedanför används för att föra över "errandId" till motsvarande action-metoden i kontrollern
        då ViewBag inte fungerar där -->
        <input type="hidden" asp-for="ErrandId" value="@ViewBag.ErrandId" />
        <p>
            Ange handläggare:
            <select asp-for="EmployeeId" asp-items="@(new SelectList(ViewBag.Employees, "EmployeeId", "EmployeeName"))">
                <option selected disabled>Välj</option>
            </select>
        </p>
        <p><input asp-for="NoAction" value="true" /> Ingen åtgärd: <input asp-for="NoActionReason" value="Ange motivering" /></p>
        <p><input class="button" type="submit" value="Spara" /></p>
    </form>
</section>