@model IEnvCrimeRepository

@{
	Layout = "_ManagerNavigation";
}

@await Component.InvokeAsync("Errand", "avdelningschef")

<section id="bottomColumn">
	<h3>Redigera ärende</h3>
	<p>
		Ange handläggare:
		<select name="investigator">
			<option selected="selected">Välj</option>
			@foreach (var employee in Model.Employees)
			{
				<option value="@employee.EmployeeId">@employee.EmployeeName</option>
			}
		</select>
	</p>
	<p><input type="checkbox" name="noAction" value="true" /> Ingen åtgärd: <input type="text" name="reason" value="Ange motivering" /></p>
	<p><input class="button" type="submit" value="Spara" /></p>
</section>