@model IEnumerable<Department>

@{
    Layout = "_Staff";
}

<h2>Avdelningar</h2>
<p class="info">Du är inloggad som administratör</p>
<span><a class="button right" asp-controller="Administrator" asp-action="EditDepartment" asp-route-deptId="0">Lägg till</a></span>

@if (Model.Any())
{
    <table>
        <tr>
            <th>Id</th>
            <th>Namn</th>
            <th></th>
        </tr>
        @foreach (var dept in Model)
        {
            <tr>
                <td>@dept.DepartmentId</td>
                <td>@dept.DepartmentName</td>
                <td>
                    <a asp-controller="Administrator" asp-action="EditDepartment" asp-route-deptId="@dept.DepartmentId"><img src="../images/edit.png" height="16" width="16" /></a>
                    <a asp-controller="Administrator" asp-action="DeleteDepartment" asp-route-deptId="@dept.DepartmentId"><img src="../images/delete.png" height="16" width="16" /></a>
                </td>
            </tr>
        }
    </table>
}
@if (!Model.Any())
{
    <p style="text-align:center">
        <i>Inga avdelningar finns</i>
    </p>
}