@model ErrandUpdateDto

@{
    Layout = "_Staff";
}

@await Component.InvokeAsync("Errand", "samordnare")

<section id="bottomColumn">
    <h3>Redigera ärende</h3>
    <form method="post" asp-controller="Coordinator" asp-action="UpdateCrime">
        <!-- onsynliga fältet nedanför används för att föra över "errandId" till motsvarande action-metoden i kontrollern
        då ViewBag inte fungerar där -->
        <input type="hidden" asp-for="ErrandId" value="@ViewBag.ErrandId" />
        <p>
            Ange enhet:
            <select asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.Departments, "DepartmentId", "DepartmentName"))">
                <option selected disabled>Välj</option>
            </select>
        </p>
        <input class="button" type="submit" value="Spara" />
    </form>
</section>
