@model IEnvCrimeRepository

@{
	Layout = "_CoordinatorNavigation";
}

@await Component.InvokeAsync("Errand", "samordnare")

<section id="bottomColumn">
	<h3>Redigera ärende</h3>
	<p>
		Ange enhet:
		<select name="department">
			<option selected="selected">Välj</option>
			@foreach (var dept in Model.Departments)
			{
				<option value="@dept.DepartmentId">@dept.DepartmentName</option>
			}
		</select>
	</p>
	<p><input class="button" type="submit" value="Spara" /></p>
</section>