@{
    Layout = "_Public";
}

<h2>Tack för besöket</h2>
<p class="info">Du är inte längre inloggad på systemet.</p>

<p class="info">Detta kan bero på att du själv loggade ut ur systemet eller att din fullmakt inte ger dig tillträde till resursen.</p>
