@model ErrandUpdateDto

@{
    Layout = "_Staff";
}

@await Component.InvokeAsync("Errand", "handläggare")

<section id="bottomColumn">
    <h3>Redigera ärende</h3>

    <form method="post" asp-controller="Investigator" asp-action="UpdateCrime" enctype="multipart/form-data">
        <!-- onsynliga fältet nedanför används för att föra över "errandId" till motsvarande action-metoden i kontrollern
        då ViewBag inte fungerar där -->
        <input type="hidden" asp-for="ErrandId" value="@ViewBag.ErrandId" />

        <p class="label">Ytterligare information:</p>
        <textarea asp-for="Information" rows="5" cols="60"></textarea>

        <p class="label">Händelser:</p>
        <textarea asp-for="Events" rows="5" cols="60"></textarea>

        <p class="label">Prover:</p>
        <input asp-for="SampleFile" />

        <p class="label">Ladda upp bilder:</p>
        <input asp-for="ImageFile" accept=".jpg, .jpeg, .gif, .bmp, .png" />

        <p class="label">Ändring av status:</p>
        <select asp-for="StatusId" asp-items="@(new SelectList(ViewBag.Statuses, "StatusId", "StatusName"))">
            <option selected disabled>Välj</option>
        </select>
        <p>
            <input class="button" type="submit" value="Spara ändringarna" />
        </p>
    </form>
</section>